.rocket-container:nth-child(2) {
  margin-bottom: 200px;
}

.row {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.image-section {
  flex-basis: 40%;
}

.rocket-pic {
  width: 100%;
}

.btn {
  margin-top: 20px;
  padding: 8px 15px;
  background: var(--blue-clr);
  border-radius: 6px;
  color: white;
  font-size: 0.8rem;
}

.btn2 {
  margin-top: 20px;
  padding: 8px 15px;
  background: white;
  border-radius: 6px;
  color: var(--text-clr);
  font-size: 0.8rem;
  border: solid 1px #727477;
}
