.row {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

img {
  max-width: 100%;
}

.image-section {
  flex-basis: 30%;
}

.rocket-pic {
  width: 300px;
  height: auto;
  object-fit: cover;
}

.rocket-text {
  flex-basis: 75%;
}

.reserveButton,
.cancel-btn {
  margin-top: 20px;
  padding: 8px 15px;
  background: var(--blue-clr);
  border-radius: 6px;
  color: white;
  font-size: 0.8rem;
}

.cancel-btn {
  margin-top: 20px;
  padding: 8px 15px;
  background: white;
  border-radius: 6px;
  color: var(--text-clr);
  font-size: 0.8rem;
  border: solid 1px #727477;
}

.badge {
  padding: 2px 5px;
  background: var(--reserve-clr);
  color: white;
  margin-right: 8px;
  border-radius: 3px;
}
