nav {
  width: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Open Sans', sans-serif;
  height: 15vh;
  margin-top: 40px;
  padding-bottom: 50px;
  border-bottom: solid 1px #c3c3c3;
}

.nav-left {
  display: flex;
  align-items: center;
}

.logo {
  width: 75px;
  height: 75px;
}

.nav-left h1 {
  color: var(--header-clr);
  margin-left: 30px;
  font-size: 2rem;
}

nav ul {
  display: flex;
}

a {
  color: var(--blue-clr);
  letter-spacing: 0.8px;
  font-size: 0.9rem;
  margin-left: 50px;
}

a:hover {
  text-decoration-line: underline;
  text-underline-offset: 10px;
  text-decoration-color: var(--blue-clr);
  text-decoration-thickness: 2px;
}
