@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&family=Open+Sans:wght@400;500;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  border: none;
}

:root {
  --blue-clr: #0190ff;
  --header-clr: #313437;
  --text-clr: #727477;
  --light-grey: #d7d7d7;
  --reserve-clr: #1ba2b9;
}

body {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
}

.App {
  margin: 20px 10%;
  height: auto;
  margin-bottom: 70px;
}

p {
  font-size: 0.9rem;
}
